.catalog {
  background-color: $color-alice-blue;
}

.catalog__container {
  padding: 62px 118px 104px;

  @include vp-1023 {
    padding: 70px 60px 85px 60px;
  }
  @include vp-767 {
    padding: 40px 25px 50px 25px;
  }
}

.catalog h2 {
  color: $color-tangaroa;
  font-family: $ff-montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 42px */

  text-align: center;
  margin-bottom: 49px;

  @include vp-1023 {
    font-size: 26px;
  }
  @include vp-767 {
    font-size: 24px;
    margin-bottom: 28px;
    // line-height: 150%; /* 36px */
  }
}

.catalog__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, minmax(386px, fit-content));
  gap: 30px;
  margin-left: -40px;

  @include vp-1023 {
    grid-template-columns: repeat(2, 1fr);
  }
  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.catalog__item {
  background-color: $color-tangaroa;
  // min-height: 386px;
  min-height: fit-content;
  width: 260px;
  padding-bottom: 0;
  margin: 0;
  padding-top: 10px;
  position: relative;
  display: flex;
  flex-direction: column-reverse;

  @include vp-1023 {
    width: 309px;
    padding-top: 6px;
  }
  @include vp-767 {
    // width: 270px;

    width: 93%;
    padding-top: 14.5px;
  }
}

.catalog__item h3 {
  // border: 2px  solid red;
  justify-self: center;
  display: block;
  color: $color-alice-blue;
  font-family: $ff-montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 27px */
  z-index: 2;
  margin-left: 30px;
  margin-bottom: 22.5px;

  @include vp-1023 {
    margin-bottom: 27px;
    margin-left: 35px;
  }
  @include vp-767 {
    margin-left: 25px;
    margin-bottom: 18px;
  }
}

.catalog__item img {
  position: absolute;
  top: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.catalog__info {
  // display: none;
  visibility: hidden;
}


.catalog__item:hover {
  // @include hover {
    background-color: $color-tangaroa;
    flex-direction: column;
    padding: 29px 0 0 25px;

    @include vp-1023 {
      padding: 29px 12px 0 35px;
    }
    @include vp-767 {
      padding: 29px 2px 25px 24px;
    }

    & picture {
      display: none;
    }

    & .catalog__info {
      visibility: visible;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // border: 1px solid green;
    }

    & h3 {
      margin: 0;
      margin-bottom: -5px;

      @include vp-1023 {}
      @include vp-767 {}
    }
  // }

}

.catalog__info-list {
  list-style: none;
  padding: 0;
  margin: 0;
  // border:2px solid red;

  @include vp-1023 {}
  @include vp-767 {}
}

.catalog__info h4 {
  color: $color-alice-blue;
  font-family: $ff-montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  margin-bottom: -12px;

  @include vp-1023 {}
  @include vp-767 {}
}

.catalog__info p {
  color: $color-quartz;
  font-family: $ff-montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  margin-bottom: -6px;

  @include vp-1023 {}
  @include vp-767 {}
}

.catalog__info-button {
  display: block;
  background-color: $color-alice-blue;
  padding: 9px 46px 10px 46px;
  margin-top: 30px;
  margin-bottom: 0;
  margin-right: 25px;
  color: $color-tangaroa;
  font-family: $ff-montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 21px */
  z-index: 50;
  margin-bottom: 9px;
  text-align: center;

  @include vp-1023 {
    margin-top: 32px;
    margin-bottom: 8px;
    padding: 9px 61px 9px 61px;
  }
  @include vp-767 {
    padding: 9px 65px 9px 59px;
  }
}
