
.contacts__container {
  display: grid;
  grid-template-columns: 1.12fr 1fr;
  align-items: center;
  gap: 100px;
  padding: 120px 103px;

  @include vp-1023 {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 100px 45px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column-reverse;
    padding: 59px 15px 94px;
  }
}

.contacts iframe {
  width: 100%;
  height: 306px;

  @include vp-1023 {
    width: 324px;
    height: 335px;
  }

  @include vp-767 {
    width: 100%;
    height: 316px;
  }
}

.contacts__description h2 {
  @include font($ff-montserrat, 500, 18px, $color-tangaroa, 150%);
  margin: 0 0 32px;

  @include vp-1023 {
    margin: 0 0 28px;
  }
}

.contacts__description address {
  @include font($ff-montserrat, 400, 16px, $color-tangaroa, 150%);
  font-style: normal;
  margin: 0;
  margin-bottom: 21px;
  position: relative;
  padding-left: 28px;

  @include vp-1023 {
    margin-bottom: 20px;
  }
}

.contacts__description address::before {
  content: "";
  background-image: url("../img/svg/icon-label.svg");
  position: absolute;
  left: 0;
  width: 18px;
  height: 22px;

  @include vp-1023 {
    top: 4px;
  }
}

.contacts__description a {
  @include font($ff-montserrat, 400, 16px, $color-tangaroa, 150%);
  margin: 0;
  margin-bottom: 3px;
  display: inline-block;
  position: relative;
  padding-left: 28px;

  @include vp-1023 {
    margin-bottom: 2px;
  }

  @include vp-767 {
    margin-bottom: 6px;
  }

  &::before {
    content: "";
    background-image: url("../img/svg/icon-phone.svg");
    position: absolute;
    top: 2px;
    left: 0;
    width: 18px;
    height: 18px;
  }
}
