.description {
  background-color: $color-alice-blue;
}

.description__container {
  padding: 0 103px 0 103px;
  margin-top: 122px;
  margin-bottom: 145px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;

  @include vp-1023 {
    padding: 0 44px 0 45px;
    margin-top: 89px;
    margin-bottom: 77px;
    gap: 30px;
  }

  @include vp-767 {
    padding: 0 15px 0 15px;
    margin-top: 57px;
    margin-bottom: 85.12px;
    grid-template-columns: 1fr;
    gap: 27px;
  }
}

.description__wrapper {
  align-self: center;
  margin-top: -15px;

  @include vp-1023 {
    margin-top: -30px;
  }
}

.description img {
  margin-top: -2px;

  @include vp-1023 {
    width: 325px;
    height: 174.15px;
    margin-right: 2px;
    margin-top: 1px;
  }

  @include vp-767 {
    width: 290px;
    height: 155.88px;
  }
}

.description h2 {
  @include font($ff-montserrat, 600, 28px, $color-tangaroa, 168%);

  @include vp-1023 {
    display: block;
    max-width: 214px;
    font-size: 26px;
    line-height: 140%;
    margin-bottom: 10px;
  }

  @include vp-767 {
    max-width: 95%;
    font-size: 24px;
    line-height: 140%;
  }
}

.description p {
  @include font($ff-montserrat, 400, 16px, $color-tangaroa, 150%);
}
