.footer {
  background-color: $color-tangaroa;
  display: flex;
  justify-content: space-between;
  padding-right: 7.5%;
  min-height: 138px;
  // padding-top: 50px;
  padding-left: 7.5%;
  align-items: center;

  @include vp-1023 {
    min-height: 120px;
    // padding-left: 45px;
    // padding-right: 45px;
    padding-left: 6%;
    padding-right: 6%;
    // margin: 0;
  }

  @include vp-767 {
    min-height: 283px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8px;
    // border: 2px solid red;
    flex-direction: column;
    align-items: flex-start;
    // border: 2px solid red;
  }
}

.footer__menu-wrapper {
  // border: 2px solid red;
  display: flex;
  // flex-wrap: wrap;
  // justify-content: flex-start;
  // gap: 40px;

  @include vp-767 {
    flex-direction: column;
    margin-left: -25px;
  }
}

.footer__logo {
  margin-top: 8px;
  fill: $color-alice-blue;


  @include vp-1023 {
    align-self: center;
    margin-right: -16px;
    // margin-right: -14px;
    // margin-top: -10px;
    // align-self: flex-start;
    // background-color: #fff;
  }

  @include vp-767 {
    align-self: flex-start;
    margin-right: 0;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: -1px;
  }
}

.footer__logo svg {
  @include vp-1023 {
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    width: 42px;
    height: 22px;
  }
}
