.footer__menu-list.menu-list {
  max-width: 100%;

  @include vp-1023 {
    max-width: 488px;
    margin-top: 12px;
  }

  @include vp-767 {
    flex-direction: column;
  }
}

.footer__menu-item.menu-item {
  margin-right: 33.5px;

  &:last-child {
    margin-right: 0;
  }

  @include vp-1023 {
    margin-right: 23px;
  }

  @include vp-767 {
    margin-right: 0;
    margin-bottom: 8px;
    display: block;
    max-width: 130px;
  }
}

.footer__menu-item-link.menu-item-link {
  @include vp-1023 {
    font-size: 12px;
  }

  @include vp-767 {
    color: $color-alice-blue;
  }
}
