.footer__social {
  margin-top: 11px;
  margin-right: 1px;

  @include vp-1023 {
    margin-top: 4px;
    margin-right: 0;
  }

  @include vp-767 {
    margin-top: -18px;
    margin-right: 0;
    margin-left: -26px;
  }
}

.footer__social-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  column-gap: 27px;
  row-gap: 10px;
  flex-wrap: wrap;
  margin-left: auto;

  @include vp-1023 {
    column-gap: 22px;
  }

  @include vp-767 {
    column-gap: 19.4px;
    max-width: 100%;
  }
}

.footer__social-item-link svg {
  fill: $color-alice-blue;

  &:hover,
  &:active {
    fill: rgba($color-alice-blue, 0.8);
  }

  @include vp-1023 {
    width: 16px;
    height: 16px;
  }
}

.footer__social-item-link--ok svg {
  @include vp-1023 {
    width: 9.64px;
  }
}
