.intro {
  // position: relative;
  height: fit-content;
}

.intro__container {
  padding: 135px 198px 263px 198px;

  @include vp-1023 {
    padding: 140px 47px 265px 45px;
  }

  @include vp-767 {
    padding: 83px 40px 185px 15px;
  }
}

.intro img {
  background-color: $color-tangaroa;
  z-index: -1000;
  position: absolute;
  top: 0;
  object-fit: cover;
  width: 100%;
  // min-height: fit-content;
  // height: 1000px;
  // height: auto;
  // height: 100%;

  @include vp-1023 {
    top: -2px;
  }

  @include vp-767 {
    top: 0;
  }
}

.intro h2 {
  // z-index: 4;
  color: $color-alice-blue;
  text-shadow: 0px 4px 4px rgba($color-default-black, 0.25);
  font-family: $ff-montserrat;
  font-size: 54px;
  font-weight: 700;
  line-height: normal;

  @include vp-1023 {
    text-shadow: none;
    font-size: 50px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 125%; /* 45px */
  }
}

.intro p {
  color: $color-alice-blue;
  text-shadow: 0px 4px 4px rgba($color-default-black, 0.25);
  font-family: $ff-montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -33px;

  @include vp-1023 {
    text-shadow: none;
    font-size: 18px;
    margin-top: -30px;
  }

  @include vp-767 {
    margin-top: -19px;
    // display: block;
    // max-width: 216px;
    font-size: 16px;
    line-height: 140%; /* 22.4px */
  }
}
