.intro {
  padding: 190px 198px 263px 70px;

  @include vp-1023 {
    padding: 188px 40px 257px 21px;
  }

  @include vp-767 {
    padding: 110px 0 101px;
  }
}

.wrapper__header img {
  background-color: $color-tangaroa;
  z-index: -10;
  position: absolute;
  top: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.intro h1 {
  @include font($ff-montserrat, 700, 54px, $color-alice-blue, normal);
  text-shadow: 0 4px 4px rgba($color-default-black, 0.25);
  margin: 0;
  margin-bottom: 12px;
  margin-left: 95px;

  @include vp-1023 {
    margin-left: 0;
    text-shadow: none;
    font-size: 50px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 125%;
  }
}

.intro p {
  @include font($ff-montserrat, 400, 20px, $color-alice-blue, normal);
  text-shadow: 0 4px 4px rgba($color-default-black, 0.25);
  font-style: normal;
  margin: 0;
  margin-left: 94px;

  @include vp-1023 {
    text-shadow: none;
    font-size: 18px;
    margin-left: 0;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 140%;
    width: 80%;
  }
}
